@import "tailwindcss";
@import "@nuxt/ui";
@import "./game-transitions.css";

@font-face {
  font-family: 'xwing-miniatures';
  src: url('/xwing-miniatures.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'xwing-miniatures-ships';
  src: url('/xwing-miniatures-ships.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@theme static {
  --font-sans: 'Public Sans', sans-serif;

  --color-green-50: #EFFDF5;
  --color-green-100: #D9FBE8;
  --color-green-200: #B3F5D1;
  --color-green-300: #75EDAE;
  --color-green-400: #00DC82;
  --color-green-500: #00C16A;
  --color-green-600: #00A155;
  --color-green-700: #007F45;
  --color-green-800: #016538;
  --color-green-900: #0A5331;
  --color-green-950: #052E16;
}

@layer base {
  .xwing-icon {
    font-family: 'xwing-miniatures', sans-serif !important;
    font-style: normal;
    font-size: 1.5em;
    line-height: 1;
    font-variant: normal;
    text-rendering: optimizeLegibility;
  }

  .xwing-ship {
    font-family: 'xwing-miniatures-ships';
    font-style: normal;
    font-size: 1.5em;
    line-height: 1;
  }
}